{{<base}}
  {{$tabbedArea}}
    <nav class="activity-navigation">
      <ul>
        <li><a href="mot-test-service-modernisation">Guidance</a></li>
        <li><a href="mot-test-service-modernisation?section=policy">Policy</a></li>
        <li><a class="current" href="mot-test-service-modernisation?section=all-content">All content</a></li>
      </ul>
    </nav>

    {{>_search_and_filter}}

    <div class="content-body">
      <div class="pub-list">
        <ul>
          {{#contentListToRender}}
            <li>
              <a href="https://www.gov.uk{{base_path}}">{{title}}</a> </br>
              <span class="meta">Statistics</span>
            </li>
          {{/contentListToRender}}
        </ul>
      </div>
    </div>
  {{/tabbedArea}}
{{/base}}
