{{<base}}
  {{$tabbedArea}}
    <div class="views-block">
      <ul>
        <li class="deselected"><a href="education">Guidance</a></li>
        <li class="selected"><a href="education?section=detailed">Detailed guidance</a></li>
        <li class="deselected"><a href="education?section=policy">Policy</a></li>
        <li class="deselected"><a href="education?section=all-content">All content</a></li>
      </ul>
    </div>

    <div class="content-wrapper feature">
      {{#contentListToRender}}
        <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
      {{/contentListToRender}}
    </div>
  {{/tabbedArea}}
{{/base}}
