{% if childTaxons %}
  <div class="navigation-box">
    {% for taxon in childTaxons %}
      <div class="content-wrapper">
        <div class="content-title">
          <h2 class="heading-medium">
            <a href="{{taxon.localHref}}">{{taxon.title}}</a>
          </h2>
        </div>

        <div class="content-body">
          <ul>
            {% for contentItem in taxon.sampleContent %}
              <li><a href="{{ contentItem.web_url }}">{{ contentItem.title }}</a></li>
            {% endfor %}

            <li><p class="show-all"><a href="{{localHref}}">View more</a></p></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
