{% set active_tab = selectedView %}

<div class="grid-row">
  <div class="column-full">

    <div class="sibling-container">
      <nav class="activity-navigation">
        <ul>
          <li>
            <a {% if active_tab == 'guidance' %} class="current" {% endif %} href="{{taxonSlug}}?view=guidance">Guidance and services</a>
          </li>

          <li>
            <a {% if active_tab == 'policy' %} class="current" {% endif %} href="{{taxonSlug}}?view=policy">Policy</a>
          </li>

          <li>
            <a {% if active_tab == 'all' %} class="current" {% endif %} href="{{taxonSlug}}?view=all">Everything</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
