{{<base}}
  {{$tabbedArea}}
    <nav class="activity-navigation">
      <ul>
        <li><a href="driving-and-vehicle-businesses">Guidance</a></li>
        <li><a href="driving-and-vehicle-businesses?section=policy">Policy</a></li>
        <li><a href="driving-and-vehicle-businesses?section=all-content">All content</a></li>
      </ul>
    </nav>

    <div class="content-wrapper feature">
      {{#contentListToRender}}
        <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
      {{/contentListToRender}}
    </div>
  {{/tabbedArea}}
{{/base}}
