{{<base}}
  {{$preamble}}
    {{> _preamble }}
  {{/preamble}}

  {{$searchField}}
    {{>_search_field }}
  {{/searchField}}

  {{$tabbedArea}}
    <div class="views-block">
      <ul>
        <li class="selected"><a href="driving-and-vehicle-businesses">Guidance</a></li>
        <li class="deselected"><a href="driving-and-vehicle-businesses?section=detailed">Detailed guidance</a></li>
        <li class="deselected"><a href="driving-and-vehicle-businesses?section=policy">Policy</a></li>
        <li class="deselected"><a href="driving-and-vehicle-businesses?section=all-content">All content</a></li>
      </ul>
    </div>

    <div class="content-wrapper feature">
      {{#contentListToRender}}
        <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
      {{/contentListToRender}}
    </div>
  {{/tabbedArea}}
{{/base}}
