{{<base}}
  {{$tabbedArea}}
    <nav class="activity-navigation">
      <ul>
        <li><a class="current" href="childcare-and-early-years">Guidance</a></li>
        <li><a href="childcare-and-early-years?section=policy">Policy</a></li>
        <li><a href="childcare-and-early-years?section=all-content">Everything</a></li>
      </ul>
    </nav>

    <div class="content-wrapper feature with-bottom-border">
      {{#contentListToRender}}
        {{#rows}}
          <div class="grid-row">
            {{#columns}}
              <div class="column-third">
                <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
              </div>
            {{/columns}}
          </div>
        {{/rows}}
      {{/contentListToRender}}
    </div>
  {{/tabbedArea}}

  {{$recent_publications}}
    {{> _recent_publications }}
  {{/recent_publications}}
{{/base}}
