{% extends "layout.html" %}

{% block head %}
	<link href="/public/stylesheets/design-tabbed.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "shared/_header.html" %}

  {% include "shared/_tabs.html" %}

  {% include "shared/_all-content.html" %}

  {% include "shared/_child-taxons.html" %}

  {% include "shared/_footer.html" %}

</main>
{% endblock %}


