<div class="recent-publications">
  <span class="subscribe">
    <p>
      Subscribe by
      <a href="#" class="underline">email</a>
      or
      <a href="#">RSS</a>
    </p>
  </span>

  <h2 class="heading-medium">Latest</h2>

  <div class="grid-row">
    <div class="column-third">
      <span class="font-xsmall">9 March 2016 Ofsted</span><br>
      <p>
        <a href="#">Registering school-based childcare provision</a>
        <br>
      </p>
    </div>

    <div class="column-third">
      <span class="font-xsmall">7 March 2016 Department of Education</span><br>
      <p>
        <a href="#">Wraparound and holiday childcare</a>
        <br>
      </p>
    </div>

    <div class="column-third">
      <span class="font-xsmall">2 March 2016 Department of Education</span><br>
      <p>
        <a href="#">Children's social work workforce 2015</a>
        <br>
      </p>
    </div>
  </div>

  <p>
    <a href="#">See all publications</a>
  </p>
</div>
