{{<layout}}
{{$pageTitle}}{{pageTitle}}{{/pageTitle}}
{{$content}}

  <main id="content" role="main">
    <div id="global-breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        {{#parentTaxon}}
          <li><a href={{localHref}}>{{title}}</a></li>
        {{/parentTaxon}}
        <li>{{pageTitle}}</li>
      </ol>
    </div>

    <h1 class="heading-xlarge"></h1>

    <div class="sibling-container">
      <h2 class="heading-xlarge">{{pageTitle}}</h2>

      {{$preamble}}{{/preamble}}

      {{$searchField}}{{/searchField}}
    </div>

    {{$tabbedArea}}{{/tabbedArea}}

    {{$recent_publications}}{{/recent_publications}}

    {{#childTaxons}}
      <div class="content-wrapper">
        <div class="content-title">
          <h2 class="heading-medium">
            <a href="{{localHref}}">{{title}}</a>
          </h2>
        </div>

        <div class="content-body">
          <p><a href="#">Subtopic</a></p>
          <p><a href="#">Subtopic</a></p>
          <p><a href="#">Subtopic</a></p>
          <p class="show-all"><a href="{{localHref}}">View more</a></p>
        </div>
      </div>
    {{/childTaxons}}

    <div class="whole-crumb">
      <div class="footer-crumb">
        <div class="crumb-label"><p class="font-medium"></p></div>
        <div class="crumb-content"><p class="heading-large">{{pageTitle}}</p></div>
      </div>

      {{#parentTaxon}}
      <div class="footer-crumb">
        <div class="crumb-label"><p class="font-medium">Part of:</p></div>
        <div class="crumb-content"><a href="{{localHref}}"><p class="heading-medium">{{title}}</p></a></div>
      </div>
      {{/parentTaxon}}

      <div class="footer-crumb">
        <div class="crumb-label"><p class="font-medium">Main organisations:</p></div>
        <div class="crumb-content"> <p class="heading-medium"><a href="#">Department of Education</a>, <a href="#">Ofsted</a>, <a href="#">Education Funding Agency</a></p></div>
      </div>
    </div>
  </main>

{{/content}}
{{/layout}}
