{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK navigation prototype</h1>

      <h2 class="heading-large">Docs and context</h2>

        <h2 class="heading-medium">
          <a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/154KU_YVEvjDCHCUbGII9KjsmjvMTLVHYFWTrnnhA11k/edit?usp=sharing"> See thinking, rationale and reckons</a>, and <a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1WZXcRM5EK_VRwOWZlXfm5fRBm7RqeZUBzdoJY2zjfQk/edit?usp=sharing">see draft user research scenarios</a></h2>


      <h2 class="heading-large">Prototypes</h2>


      <ol class="list-number">
      <span class="heading-medium">  <li><a href="tabless/education">Tabless</a></span></li>
        <ul class="list-bullet">
          <li><a href="tabless/education">Education</a></li>
          <li><a href="tabbed/driving-and-vehicles">Driving</a></li>
          </ul>
      <span class="heading-medium">  <li><a href="mvp/education">MVP</a></span></li>
        <span class="heading-medium"><li><a href="tabbed/education">Tabbed</a></span></li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
