{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The GOV.UK prototype kit</h1>

      <h2 class="heading-large">Education</h2>
      <ol class="list-number">
        <li><span class="heading-medium">Level 1 - <a href="taxons/education">Education</a></span></li>
        <li><span class="heading-medium">Level 2 - <a href="taxons/childcare-and-early-years">Childcare and Early Years</a></span></li>
        <li><span class="heading-medium">Level 3 - <a href="taxons/early-years-settings">Early Years Settings</a></span></li>
        <li><span class="heading-medium">Level 4 - <a href="taxons/childminders">Childminders</a></span></li>
      </ol>

      <h2 class="heading-large">Driving</h2>
      <ol class="list-number">
        <li><span class="heading-medium">Level 1 - <a href="taxons/driving-and-vehicles">Driving</a></span></li>
        <li><span class="heading-medium">Level 2 - <a href="taxons/driving-and-vehicle-businesses">Driving and vehicle businesses</a></span></li>
        <li><span class="heading-medium">Level 3 - <a href="taxons/running-an-mot-test-station">Running an MOT Test Station</a></span></li>
        <li><span class="heading-medium">Level 4 - <a href="taxons/mot-test-service-modernisation">MOT Test Service Modernisation</a></span></li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
