{{<layout}}

{{$pageTitle}}Running an MOT test station{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a>
      </li>
      <li><a href="driving-and-vehicles">Driving and vehicles</a>
      </li>
      <li>Running an MOT test station</li>
    </ol>
  </div>

  <h1 class="heading-xlarge"></h1>
  <span class="font-small"><a href="driving-and-vehicles"><!--&#139;-->&#8624;		 Back to Driving and vehicles</a></span>

  <div class="sibling-container">
    <div class="s-left">
      <h2 class="heading-xlarge">Running an MOT test station</h2>
      <div class="preamble">
        <p><span class="font-medium">Find services for Running an MOT test station, and read guidance, policies and other publications</span>
      </div>

      <div class="search-header">
        <div class="searchfield">
          <input type="search" name="q" value="" id="search-main">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
    </div>

    <div class="s-right">
      <ul>
        {{#childTaxons}}
          <li><a href="{{localHref}}">{{title}}</a></li>
        {{/childTaxons}}
      </ul>
    </div>
  </div>

  <div class="views-block">
    <ul>
      <li class="selected">Guidance</li>
      <li class="deselected"><a href="running-an-mot-test-station?section=detailed">Detailed guidance</a></li>
      <li class="deselected"><a href="running-an-mot-test-station?section=policy">Policy</a></li>
      <li class="deselected"><a href="running-an-mot-test-station?section=publications">All content</a></li>
    </ul>
  </div>

  <div class="content-wrapper feature">
    {{#taggedItems}}
      <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
    {{/taggedItems}}
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">
        <a href="early-years-settings3">Running an MOT test station</a>
      </h2>
    </div>

    <div class="content-body">
      <p><a href="#">Subtopic</a></p>
      <p><a href="#">Subtopic</a></p>
      <p><a href="#">Subtopic</a></p>
      <p class="show-all"><a href="running-an-mot-test-station">View more</a></p>
    </div>
  </div>
</main>

{{/content}}

{{/layout}}
