  <div class="content-wrapper">
    <p class="heading-small pub-subscribe">
      Follow new policy publications by <a href="#">email</a> or <a href="#">feed</a>
    </p>

    <div class="content-title">
      <div class="govuk-option-select">
        <div class="container-head">
          <label class="option-select-label" for="keywords">
            Search
          </label>
        </div>
        <input class="filter-field-text" type="text" name="q" id="keywords" value="" maxlength="200">
      </div>

      <div class="govuk-option-select">
        <div class="container-head js-container-head">
          <div class="option-select-label">Publication type</div>
        </div>

        <div class="options-container">
          <div class="js-auto-height-inner">
            <label for="free-option">
              <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
              Consultations
            </label>

            <label for="trial-option">
              <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
             Corporate
            </label>

            <label for="free-option">
              <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
              Policy and guidance
            </label>

            <label for="trial-option">
              <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
             Other
            </label>

            <label for="trial-option">
              <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
              Research and statistics
            </label>
          </div>
        </div>
      </div>
    </div>
